.music-player{
position: absolute;
width: 1440px;
height: 1024px;
left: 0px;
top: 0px;
background: url(background.jpg);
}

#player{
position: absolute;
width: 366px;
height: 511px;
left: 0px;
top: 0px;
margin-top: 100px;
margin-left: 525px;

background: rgba(245, 245, 245, 0.75);
box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
border-radius: 32px;
}

.title{
position: absolute;
width: 323px;
height: 65px;
left: calc(50% - 323px/2 - 0.5px);
top: 200px;
}

.song{
position: absolute;
width: 323px;
height: 33px;
left: 10px;

font-family: 'Noto Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 30px;
/* identical to box height */
text-align: center;
color: #28111E;
}
.singer {
position: absolute;
 width: 323px;
height: 33px;
left: 10px;
top: 25px;
/* Taylor Swift */
font-family: 'Noto Sans';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 5px;
text-align: center;

color: #28111E;
}

.album {
position: absolute;
width: 349px;
height: 258.02px;
left: calc(50% - 349px/2 - 0.5px);
top: 15px;

}

.vinyl{
position: absolute;
width: 150px;
height: 150px;
left: 164.64px;
top: 50.69px;
background: url(vinyl.png);
}
.artist{
position: absolute;
width: 150px;
height: 150px;
left: 58px;
top: 41px;
background-size: contain;
background: url(taylor.jpg);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 5px;

}
.seek{

position: absolute;
width: 386px;
height: 43px;
left: 39px;
top: 300px;
color:#92155c;
}

.endtime{
position: absolute;
width: 38px;
height: 16px;
left: 61%;
top: 6px;
padding: 10px;
    
font-family: 'Noto Sans';
font-style: normal;
font-size: 14px;
line-height: 19px;
display: flex;
align-items: center;
text-align: center;
color: #000000;
    }
    
    
.starttime{
position: absolute;
width: 38px;
height: 16px;
left: 7px;
top: 6px;
padding: 10px;
  
font-family: 'Noto Sans';
font-style: normal;
font-size: 14px;
line-height: 19px;
display: flex;
align-items: center;
color: #000000;
    
}
   
.seek_bar{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 75%;
    height: 5px;
    background: rgb(255, 255, 255);
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
   
.seek_bar::-webkit-slider-thumb{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 50%;
}

   

.buttons {
display: flex;
flex-direction: row;
align-items: center;
position: absolute;
width: 316.07px;
height: 120px;
left: 50px;
top: 350px;
color:#962c2c;
  }
   
.playpause-track,
.prev-track,
.next-track {
    padding: 25px;
    opacity: 0.8;
    transition: opacity .2s;
}
